# Aliases sourced by .bashrc

# ls
alias ls='ls -Gh --color=auto --group-directories-first'
alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'
alias ltr='ls -ltr'
alias lr='ls -ltu'

alias grep="grep --color=always"
alias ..="cd .."

# python virtualenvs
#alias personal='export PYTHONSTARTUP=/Users/cfahy/.pystartup; source ~/.virtualenv/personal/bin/activate'
alias venv3='export PYTHONSTARTUP=/Users/cfahy/.pystartup; source ~/.virtualenv/venv3/bin/activate'
alias venv2='export PYTHONSTARTUP=/Users/cfahy/.pystartup; source ~/.virtualenv/venv2/bin/activate'

# sudo
alias pacman='sudo pacman'
alias sudont='sudo $(fc -nl -1)'

# xdg
alias open='xdg-open'

# tools
alias top='htop'

# raspi
alias pi='ssh -t pi@musinformatics.ddns.net screen -RR'

