[Desktop Entry]
Version=1.0
Type=Application
Name=Google-chrome
Comment=google-chrome
Exec=google-chrome
Icon=google-chrome
Terminal=false
StartupNotify=false
Categories=Application;
Hidden=true
