# Aliases sourced by .bashrc

# various
alias grep="grep --color=auto"

# I'm an idiot
alias rm='rm -I'


# ls
# if [ -x "$(command -v gls)" ]; then
#     alias ls='gls -GFh --color=auto --group-directories-first'
# else
#     alias ls='ls -h --color=auto --group-directories-first'
# fi
alias ls='ls -Fh --color=auto --group-directories-first'
alias ll='ls -lA'
alias la='ls -A'
alias l='ls -CF'
alias ltr='ls -lAtr'
alias lr='ls -ltu'
alias tree='tree -C -L 4'
# find
alias today='find -maxdepth 1 -type f -mtime -1'
alias latest='find . -maxdepth 1 -type f -printf "%Ts\t%f\n" | sort -nr | cut -f2 | head -1'
function rc(){
  local latest_file=$(latest)
  $1 $(latest)
}
alias lf='latest | xargs -o'

# vim
alias vi="vim"
if hash nvim 2>/dev/null; then
    alias vim="nvim"
fi
alias vimrc='vim ~/.nvimrc'
alias vl='vim $(latest)'

# python
# python poetry activate
alias poetry_shell='. "$(dirname $(poetry run which python))/activate"'
# ipython
alias ipy='ipython'

# sudo
alias pacman='sudo pacman'
alias pacmatic='sudo pacmatic'
alias sudont='sudo $(fc -nl -1)'

# xdg
if ! [ -x "$(command -v open)" ]; then
  if [ -x "$(command -v xdg-open)" ] ; then
    alias open='xdg-open'
  fi
fi

# tools
alias top='htop'

# raspi
alias pi='ssh -t pi@musinformatics.ddns.net screen -RR'

# NYU
alias citygram='ssh citygram.smusic.nyu.edu'
alias hpc='ssh cpf247@hpc.nyu.edu'

# git
alias gremaster='git stash && git fetch && git rebase origin/master && git stash pop'
alias status='git status'
# go to git project root
alias groot='cd $(git rev-parse --show-toplevel)'
alias proot="groot"

# gcloud
alias gs='gsutil'

# go to workspace root
alias work='cd $HOME/workspace'

# cd
alias ..='cd ..'
alias -- '-'='cd -'
newdir() {
  mkdir -p -- "$1" && cd -- "$1"
}

# ps
alias ps='ps -o pid,tty,start,time,%cpu,%mem,command'
alias pse='command ps -e -o pid,ppid,user,tty,start,time,%cpu,%mem,command'
alias psgrep='pse | grep -v "grep -i --color=auto" | command grep -i --color=auto'
alias psme='ps -u $USER'
