# Aliases sourced by .bashrc

# various
alias grep="grep --color=always"
alias ..="cd .."
alias vi="vim"
if hash nvim 2>/dev/null; then
    alias vim="nvim"
fi

# ls
if [ "$(uname)" == "Darwin" ]; then
    alias ls='gls -Gh --color=auto --group-directories-first'
else
    alias ls='ls -Gh --color=auto --group-directories-first'
fi
alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'
alias ltr='ls -ltr'
alias lr='ls -ltu'
#function rc(){
#  if [ -z "$1" ]; then
#    set -- "ls"
#  fi
#  $1 `find . -maxdepth 1 -type f -printf '%Ts\t%f\n' | sort -nr | cut -f2 | head -1`
#}

# vim
#alias vr="vim `find . -maxdepth 1 -type f -printf '%Ts\t%f\n' | sort -nr | cut -f2 | head -1`"

# I'm an idiot
#alias rm='rm -I'

# python virtualenvs
#alias personal='export PYTHONSTARTUP=/home/cfahy/.pystartup; source ~/.virtualenv/personal/bin/activate'
alias venv3='export PYTHONSTARTUP=/home/colin/.pystartup; source ~/.virtualenv/venv3/bin/activate'
alias venv2='export PYTHONSTARTUP=/home/colin/.pystartup; source ~/.virtualenv/venv2/bin/activate'
alias py3='source activate py3'
alias py2='source activate py2'
alias ipy='ipython'
alias ipy34='/home/colin/miniconda3/envs/py34/bin/ipython'

# sudo
alias pacman='sudo pacman'
alias pacmatic='sudo pacmatic'
alias sudont='sudo $(fc -nl -1)'

# xdg
#alias open='xdg-open'

# tools
alias top='htop'

# raspi
alias pi='ssh -t pi@musinformatics.ddns.net screen -RR'

# NYU
alias citygram='ssh citygram.smusic.nyu.edu'
alias hpc='ssh cpf247@hpc.nyu.edu'

# git
alias gremaster='git stash && git fetch && git rebase origin/master && git stash pop'
